.navbar-brand
	display: flex
	max-width: 100%
	height: auto
	.logo
		position: relative
		margin-right: 10px 
				
		.bolt
			position: absolute
			top: 5px
			left: 10px
.carousel-item
	position: 
	.container
		position: absolute
		top: 200px
		z-index: 100
		color: red
